{% extends 'base.html' %}

{% block title %}
<title>Komunikat</title>
{% endblock %}

{% block content %}
<div class = "container">
  <div class="wrapper_center">
    <div  class="form-signin">
      <h3 class="form-signin-heading">Zakończyłeś sesję próbną!</h3>
      <a href="{% url 'experiment_page' %}">
        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Przejdź do sesji prawdziwej</button>
      </a>
    </div>     
  </div>
</div>
{% endblock %}