{% extends 'base.html' %}

{% block title %}
<title>Form 2</title>
{% endblock %}

{% block content %}
<div class = "container">
  <div class="wrapper">
    <h2>Wybierz typ eksperymentu</h2>
    <br>
    <form class="col-8" method="post">{% csrf_token %}
      <div class="form-group row">
        <label for="example-text-input" class="col-8 col-form-label"><h5>Login osoby, biorącej udział w eksperymencie</h5></label>
        <div class="col-4">
          <input class="form-control" type="text" value="example" name="username">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-8 col-form-label"><h5>Czas świecenia lampek (ms)</h5></label>
        <div class="col-4">
          <input class="form-control" type="text" value="0" name="lighting_time">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-8 col-form-label"><h5>Czas pomiędzy kolejnymi zaświeceniami (ms)</h5></label>
        <div class="col-4">
          <input class="form-control" type="text" value="0" name="interval_time">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-8 col-form-label"><h5>Czas trwania jednej sesji (min)</h5></label>
        <div class="col-4">
          <input class="form-control" type="text" value="0" name="session_time">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
