{% extends 'base.html' %}

{% block title %}
<title>Form 1</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="wrapper">
    <h2>Wybierz typ eksperymentu</h2>
    <br><br>
    <form method="post">{% csrf_token %}
      <h5>Czy ma występować sprzężenie zwrotne?</h5>
      <br>
      <div class="btn-group col-sm-10" data-toggle="buttons">
        <label class="btn btn-primary active col-sm-6">
          <input type="radio" name="feedback" value="1" checked> Tak
        </label>
        <label class="btn btn-primary col-sm-6">
          <input type="radio" name="feedback" value="0"> Nie
        </label>
      </div>
      <br><br><br>
      <h5>Czy lampki mają wyłączać się dopiero po wciśnięciu wszystkich przycisków?</h5>
      <br>
      <div class="btn-group col-sm-10" data-toggle="buttons">
        <label class="btn btn-primary active col-sm-6">
          <input type="radio" name="all_buttons" value="1" checked> Tak
        </label>
        <label class="btn btn-primary col-sm-6">
          <input type="radio" name="all_buttons" value="0"> Nie
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}