{% extends 'base.html' %}

{% block content %}
<div class = "container">
  <div class="wrapper">
    {% if task.experiment.mode == 0 %}
      {{ task.task.content_1 }} <br><br> {{ task.task.content_2 }}
    {% else %}
      {{ task.task.content_1 }} <br><br> <b>{{ task.task.rule }}</b>
      <br><br> {{ task.task.content_2 }}
    {% endif %}
    <hr>
      {% if task.experiment.mode == 0 %}
        <br><br> <b>{{ task.task.rule }}</b> <br><br> {{ task.task.content_2 }}
      {% endif %}
      <br><br>
      <tr>
      <th id="0">
        <button class='float-left btn btn-lg btn-secondary col-3'>{{ cards.c0 }}</button>
      </th>
      <th id="1">
        <button class='float-left btn btn-lg btn-secondary col-3'>{{ cards.c1 }}</button>
      </th> 
      <th id="2">
        <button class='float-left btn btn-lg btn-secondary col-3'>{{ cards.c2 }}</button>
      </th> 
      <th id="3">
        <button class='float-left btn btn-lg btn-secondary col-3'>{{ cards.c3 }}</button>
      </th> 
      </tr>
    <br>
  </div>
</div>
{% endblock %}