{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
  {% block title %}
  <title>gil</title>
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}?a=11">

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.20.1/math.min.js'></script>

  {% block additional_head %}
  {% endblock %}

</head>
<body>
  {% block content %}
  {% endblock %}

  {% block next %}
  <a href="{{ next_url }}">
    <button class='next-button btn btn-primary'><h2>Dalej</h2></button>
  </a>
  {% endblock %}
</body>

{% block scripts %}
{% endblock %}
</html>